<div class="container">
  <h2>My Todos</h2>

  <!-- Add Todo -->
  <form role="form" name="todoForm" ng-submit = "addTodo()" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : duplicate }" style="padding:5px 10px;">
      <div class="input-group">
        <input type="text" ng-model="todo" name="todo" class="form-control" placeholder="Add a new todo" autocomplete='off' required/>
        <span class="input-group-btn">
          <input type="submit" value="+" class="btn btn-primary" ng-disabled="!todoForm.$valid" aria-label="Add"/>
        </span>
      </div>
      <div class="help-block" ng-show="duplicate">
        Duplicate todo!!... Please enter a new todo
      </div>
    </div>
  </form>

  <!-- Todos List -->
  <div ui-sortable ng-model="todos">
     <p class="input-group" ng-repeat=" todo in todos" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="todo" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span> 
    </p>   
  </div>
 
</div>
